.main-container{
    display: grid;
    justify-content:center;
    align-items:center;
}

.list-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 15rem;
    padding: 0rem 3rem 3rem 4rem;
}

.list-group-item{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.list-group-item:hover{
    opacity: 0.7;
}

.list-group-item img{
    width: 80px;
}

.list-group-item h5{
    font-size: 15px;
    text-align: center;
}

.back{
    width: 50px;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;

    left: 4rem;
    top: 6rem;
}

.recently-cat-container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.recently-cat-list{
    display: flex;
}

.recently-cat-list .list-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 100%;
    padding: 0.3rem;
}

.recently-cat-list h6{
    font-size: 12px;
}


@media screen and (max-width:996px) {
    .search-box:nth-child(1){
        display: block;
        margin-top: 1rem;
    }

    .search-box:nth-child(2){
        display: none;
    }
}