.list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 3rem;
}


.card:hover{
    opacity: 0.7;
    cursor: pointer;
}

.card{
    width: 200px;
    margin: 1.3rem;
    align-items: center;
    box-shadow:1px 1px 8px rgb(163, 163, 163);
    background-color: white;
}

.card img{
    width: 200px;
    height: 200px;
}

.card-description{
    display: flex;
    width: 200px;
    flex-direction: column;
    padding: 0.7rem 0.7rem 2rem 0.7rem;
    border-top: 1px solid rgba(173, 173, 173, 0.548);
}

.card-description h4{
    font-size: 15px;
    cursor:pointer;
}

.card-description p{
    font-size: 12px;
   
    cursor:pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
