nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(194, 194, 194);
    background-color: rgba(250, 215, 14, 0.699);
    margin: 0;
    padding: 0;
}


.links-box, .search-box, .notification-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-ul{
    display: flex;
    position: absolute;
    list-style: none;
    justify-content: end;
    top: 1rem;
    right: 2rem;
}

.nav-ul li{
    margin: 0;
    padding: 0;
}

.nav-ul .btn{
    padding: 0.4rem;
    margin: 0.2rem;
}

.search-box:nth-child(1){
    display: none;
}

.search{
    display: flex;
    justify-content: center;
}

.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.search-form input{
    padding: 0.45rem 0.5rem;
    width: 17rem;
}


.logo{
    width: 100px;
    height: 40px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;

    border-top: 1px solid rgb(194, 194, 194); 
    background-color: rgba(250, 215, 14, 0.699);   
}

@media screen and (max-width:996px) {
    .search-box:nth-child(1){
        display: block;
        margin-top: 1rem;
    }

    .search-box:nth-child(2){
        display: none;
    }
}